## Disable networking.
set multiplayer 0

## Create named pipe on startup if it doesn't exist.
set named_pipe 0

# Set the location of the main Lua file.
set lua_main lua

# This makes it so we can't accidentally break things.
suDisguise 0

create integer sensitivity
set sensitivity 2


## a, left array
# keys_createFullBind("k_100", "key_strafeLeft", "key_strafeLeft_d", "key_strafeLeft_u")
create command +key_strafeLeft
create command -key_strafeLeft
bind k_100 +key_strafeLeft -key_strafeLeft
# keys_createFullBind("k_1073741903", "key_leftarrow", "key_strafeLeft_d", "key_strafeLeft_u")
create command +key_leftarrow
create command -key_leftarrow
bind k_1073741903 +key_leftarrow -key_leftarrow
## d, right arrow
# keys_createFullBind("k_97", "key_strafeRight", "key_strafeRight_d", "key_strafeRight_u")
create command +key_strafeRight
create command -key_strafeRight
bind k_97 +key_strafeRight -key_strafeRight
# keys_createFullBind("k_1073741904", "key_rightarrow", "key_strafeRight_d", "key_strafeRight_u")
create command +key_rightarrow
create command -key_rightarrow
bind k_1073741904 +key_rightarrow -key_rightarrow
## w, up arrow
# keys_createFullBind("k_119", "key_backward", "key_backward_d", "key_backward_u")
create command +key_backward
create command -key_backward
bind k_119 +key_backward -key_backward
# keys_createFullBind("k_1073741906", "key_downarrow", "key_backward_d", "key_backward_u")
create command +key_downarrow
create command -key_downarrow
bind k_1073741906 +key_downarrow -key_downarrow
## s, down arrow
# keys_createFullBind("k_115", "key_forward", "key_forward_d", "key_forward_u")
create command +key_forward
create command -key_forward
bind k_115 +key_forward -key_forward
# keys_createFullBind("k_1073741905", "key_uparrow", "key_forward_d", "key_forward_u")
create command +key_uparrow
create command -key_uparrow
bind k_1073741905 +key_uparrow -key_uparrow
## Box colors
# keys_createHalfBind("k_49", "key_color1", "key_color1_d")
# keys_createHalfBind("k_50", "key_color2", "key_color2_d")
# keys_createHalfBind("k_51", "key_color3", "key_color3_d")
# keys_createHalfBind("k_52", "key_color4", "key_color4_d")
# keys_createHalfBind("k_53", "key_color5", "key_color5_d")
# keys_createHalfBind("k_54", "key_color6", "key_color6_d")
# keys_createHalfBind("k_55", "key_color7", "key_color7_d")
# keys_createHalfBind("k_56", "key_color8", "key_color8_d")
# keys_createHalfBind("k_57", "key_color9", "key_color9_d")
# keys_createHalfBind("k_48", "key_color0", "key_color0_d")
## Space (jump)
# keys_createFullBind("k_32", "key_space", "key_space_d", "key_space_u")
create command +key_space
create command -key_space
bind k_32 +key_space -key_space
## Ctrl (crouch)
# keys_createFullBind("k_1073742048", "key_ctrl", "key_ctrl_d", "key_ctrl_u")
create command +key_ctrl
create command -key_ctrl
bind k_1073742048 +key_ctrl -key_ctrl
# keys_createFullBind("k_99", "key_c", "key_c_d", "key_c_u")
create command +key_c
create command -key_c
bind k_99 +key_c -key_c
## Fly toggle
# keys_createFullBind("k_102", "key_f", "key_f_d", "key_f_u")
create command +key_f
create command -key_f
bind k_102 +key_f -key_f
## Noclip toggle
# keys_createFullBind("k_110", "key_n", "key_n_d", "key_n_u")
create command +key_n
create command -key_n
bind k_110 +key_n -key_n
## Left mouse (select)
# keys_createFullBind("m_1", "mouse_leftButton", "mouse_leftPress", "mouse_leftRelease")
create command +mouse_leftButton
create command -mouse_leftButton
bind m_1 +mouse_leftButton -mouse_leftButton
## Right mouse (jump)
# keys_createFullBind("m_3", "mouse_rightButton", "mouse_rightPress", "mouse_rightRelease")
create command +mouse_rightButton
create command -mouse_rightButton
bind m_3 +mouse_rightButton -mouse_rightButton
## Mouse x-y
# keys_createMouseBind("mouse_motion")
## q
# cfg2_setVariable("bind k_113 quit")

# Exit if ESC was pressed five times.
create none escQuit
create integer escCount
set escCount 4 # sic.
command escQuit  ifn escCount quit, - escCount one, escCount
bind k_27 escQuit

suDisguise 2

# Seconds that the engine will wait to connect before timing out.
set net_timeout 5000

su
# Maximum number of times exec/if* can be called without returning.
set max_recursion_depth 10
# Run the following code without producing messages.
set quiet 3
su 0
