*.o
sengine-1
cengine-1
engine-1-runner
valgrind.log
vgcore.*
oolite-binary-resources
**/CMakeFiles
.vscode
CMakeCache.txt
Makefile
*.cmake
*.cap
log*.txt
callgrind.out.*
*.pcapng
cachegrind.out.*
*.dll
build
*_autogen
*~
*.pyc
*.cmsh
*.rmsh
*.blend1
*.out
.*
*.db-journal
